
  *,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
color: rgb(62, 61, 61);
}
body{
background: #e5e5e5 !important;
}
.shape:first-child{
background: linear-gradient(
    #1845ad,
    #23a2f6
);
left: -80px;
top: -80px;
}
.shape:last-child{
background: linear-gradient(
    to right,
    #ff512f,
    #f09819
);
right: -30px;
bottom: -80px;
}
form{
height: 460px;
width: 400px;
background-color: #ffffff;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 50px 35px;
}
form *{
font-family: 'Poppins',sans-serif;
color: #000000;
letter-spacing: 0.5px;
outline: none;
border-radius: 4px;
}
form h3{
font-size: 32px;
font-weight: 500;
line-height: 42px;
text-align: center;
color: #060606;
background: transparent;
}

label{
display: block;
margin-top: 10px;
font-size: 16px;
font-weight: 500;
background: transparent;
}

::placeholder{
color: #6f6d6d;
}
button{
margin-top: 20px;
width: 100%;
background-color: #ffffff;
color: #080710;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}
.social{
margin-top: 30px;
display: flex;
}
.social div{
background: red;
width: 150px;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgba(255,255,255,0.27);
color: #eaf0fb;
text-align: center;
}
.social div:hover{
background-color: rgba(255,255,255,0.47);
}
.social .fb{
margin-left: 25px;
}
.social i{
margin-right: 4px;
}
.otp{
  background: transparent;
}
.otp-label{
  position: relative;
  bottom: 10px;
}
.otp-check{
  height: 16px;
  position: relative;
  left: 152px;
  bottom: 25px;
  cursor: pointer;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.form-check-input{
  position: relative;
    top: 11px;
}
.text-muted {
  color: #ff2c3f !important;
}
.btn-create-user{
  float: right;
  width: 200px;
  position: relative;
  bottom: 10px;
  color: white;
}
.current-user{
  float: left;
  margin-left: 26px;
  position: relative;
  top: 3px;
}
.ishop-brand{
  font-weight: bold;
}
.otp-input-wrapper{
  text-align: center;
}
.otp-input{
  width: 45px;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
}
.form-label {
  color: rgb(0, 0, 0);
}
.user-form{
  width: 70%;
position: relative;
margin-top: 5px;
height: fit-content;
padding-bottom: 20px;
padding-top: 20px;
}
.role-form{
  width: 41%;
  height: 285px;
  margin-top: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  left: 36%;
}
.authority-form{
  width: 38%;
  height: 193px;
  margin-top: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  left: 36%;
}
.form-input{
  width: 400px;
}
.form-btn-manage-role{
  bottom: 24px;
    position: relative;
    float: right;
    left: 117px;
    color: #1111b6;
}
.form-btn-manage-permission{
  bottom: 24px;
  position: relative;
  color: #1111b6;
  left: 164px;
}
.form-check-label{
  position: relative;
    top: 11px;
    font-size: 14px;
    color: #1111b6;
    margin-top: 0px !important;
}
.form-checker{
  position: relative;
  bottom: 20px;
}
.breadcrumb-text a{
  color: rgb(72, 0, 255) !important;
}
.form-col{
  padding-top: 0px;
  padding-bottom: 0px;
}
.form-row{
  margin-top: 0px;
  margin-bottom: 0px;
}
.breadcrumb-menu{
  position: relative;
  left: 240px;
}
.breadcrumb{
  position: relative;
  top:10px;
}
.form-role-input{
  width: 500px;
}
.btn-create-role{
  width: 200px;
  position: relative;
  bottom: 108px;
}
.btn-create-authority{
  width: 200px;
  position: relative;
  bottom: 58px;
}
.alert-permission{
  padding: 8px;
  font-size: 13px;
  width: 49%;
  position: relative;
  bottom: 16px;
  float: right;
  right: 2px;
}
.edit-permission{
  color: rgb(17, 17, 182);
  position: relative;
  bottom: 118px;
  left: 198px;
}
.form-btn-edit-roles{
  color: #1111b6;
  position: relative;
  bottom: 219px;
  left: 65px;
}
.permission{
  position: relative;
  bottom: 54px;
}
.alert-dismissible .btn-close {
  z-index: 2;
  padding: 0;
  position: absolute;
  top: 0px;
  top: -8px;
  right: 5px;
  font-size: 12px;
}
.authority-errors{
  height: 30px;
  margin: 0px;
}